h1
  font-size 0px
  margin 0
  color green

.home-title
  display inline-block
  font-size 30px
  margin 24px 0px 14px 42px
  border-left 8px solid #23f54a
  padding 6px 15px
  a
    color #4a4a4a
    &:hover
      color blue

.home-content
  height 400px
  line-height 400px
  background-color #757575;

.home-footer
  height 124px
  width 100%
  border 1px solid #d5d5d5
  position fixed
  bottom 0
  text-align center
  line-height 124px
  font-size 20px
  font-weight 500px
  color #4a4a4a
  a
    color #4a4a4a
    &:hover
      color blue
