html,body
  height 100%

.webrtc-body
  overflow hidden

#main
  position relative
  margin 2em auto 0
  width 50%
  height 90%
  opacity 0.7
  border-radius 10px
  background-color #00ced1

.text-title
  margin-left 5%
  margin-top 0.4em
  margin-bottom 0.4em
  display inline-block

.text-msg
  width 90%
  height 55%
  margin 0 auto
  background-color #b0ecec
  // opacity 0.8
  word-wrap: break-word //长单词换行
  overflow-y auto

.text-controls
  margin-top 1em
  margin-left 5%
  input
    margin-right 0.5em

.text-controls-itme
  height 1.5em

#clear-msg
  margin-left 0.5em

#emoji
  margin-right 0.5em

#notice
  margin-left 0.5em

#open-video
  margin-left 0.5em

#text-file
  width 100%
  display none
  overflow hidden
  position absolute
  top 0
  left 0

.controls-itme-label
  position relative

.text-input-box
  position relative
  margin-top 1em
  margin-left 5%
  height 20%

#text-textarea
  width 75%
  height 99%

#text-send
  position absolute
  right 0
  top 0
  width 14%
  height 100%
  margin-right 2.5em

.users-list
  position absolute
  top 2em
  left 2em
  width 20%
  height 90%
  display inline-block
  background-color #00ced1
  opacity 0.8
  border-radius 8px

.users-list-title
  text-align center
  color #2f4f4f

.users-list-users
  width 90%
  height 80%
  margin 0 auto
  z-index 10
  background-color #fff
  opacity 0.8
  word-wrap: break-word
  overflow-y auto

#login
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  background-color #666
  display block

#login-server
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)
  display block
  color #fff

#login-box
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)
  display none

#login-user
  margin-right 1em

#emojiWrapper
  width 90%
  position absolute
  top 32%
  left 3%
  padding 0.5em 0 0.2em 1.5em
  background-color #aaa
  border-radius 8px
  img
    &:hover
      background-color: blue;

.emoji
  // display inline
  margin 0 0.4em

