.webrtc-div
  margin-top 1em
  text-align center

.webrtc-button
  margin-right 0.5em

.font-size-12px
  font-size 12px

.webrtc-video-1
  width 350px
  height 240px

.webrtc-remote-video
  margin-left 0.1em
  width 350px
  height 240px

.webrtc
  margin-bottom 3em
